<div class="container my-5">
  <div class="border rounded bg-light d-flex flex-column flex-md-row" style="min-height: 500px;">
    <div class="p-4 w-100 w-md-50 border rounded-1 rounded-md-start d-flex text-center text-light flex-column justify-content-center align-items-center bg-vigilantia">
      <img class="w-50 mb-3" src="vigilantia_logo_initial.png" alt="logo">
      <p class="fs-6">Bem-vindo(a)! No seu primeiro acesso, crie uma senha segura contendo pelo menos uma letra maiúscula, uma letra minúscula, um número e um caractere especial (!, &#64;, #, $, %, &)</p>
    </div>

    <div class="p-4 w-100 d-flex flex-column justify-content-center align-items-center">
      <img class="w-50 mb-3" src="logo.png" alt="logo">
      <form class="w-100" style="max-width: 400px;">
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="floatingPassword1" placeholder="Senha">
          <label for="floatingPassword">Senha</label>
        </div>

        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="floatingPassword2" placeholder="CofirmarSenha">
          <label for="floatingPassword2">Cofirmar Senha</label>
        </div>
        <button type="submit" class="btn btn-primary w-100">Entrar</button>
      </form>
    </div>
  </div>
</div>
