.bg-light{
    background-color: #D9D9D9 !important;
}

.bg-vigilantia{
    background-color: #0C494D;
}

.bg-light-vigilantia {
  background-color: #235255; /* Ou outra cor escura que combine */
}

.bg-warning{
    background-color: #E9E38C !important;
}

.form-label-sm {
font-size: 0.85rem;
padding-left: 1rem;
}
.form-floating > label {
font-size: 0.85rem;
}